* {
    font-family:Arial, Helvetica, sans-serif
}

body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    border: solid pink;
    display: flex;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    border: solid orange;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;;
    font-weight: 700;
}

.hero-container {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    border: solid red;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
    border: solid blue;
}

.links {
    border: solid yellow;
}

.main {
    display: flex;
    border: solid green;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 30px;
}

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 15px;
    border: solid cyan;
}

.maintext {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.links,
.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.image {
    border: solid indigo;
    flex: 1;
    margin: 15px;
}

.info-container {
    border: solid red;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.info {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    align-self: center;
}

.quote-container {
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 200px;
    text-wrap: wrap;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    max-width: 800px;
    border: solid green;
}

.qsource {
    font-weight: 900;
    font-size: 20px;
    padding: 10px;
    align-self: flex-end;
    border: solid yellow;
}

.call-container {
    border: solid red;
}

.call {
    border: solid yellow;
    background-color: #3882F6;
    color: #F9FAF8;
}

.footer-container {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.footer {
    color: #E5E7EB;
}